@media screen and (max-width: 400px) {
  .container h3 {
    font-size: 15px;
    margin-right: 0.5rem;
  }

  .main {
    margin-bottom: 20rem;
  }

  input {
    width: 20rem;
    height: 20px;
  }

  input::placeholder {
    font-size: 12px;
  }
}

@media screen and (min-width: 401px) {
  .main {
    margin-bottom: 22rem;
  }

  .container h3 {
    font-size: 20px;
    margin-right: 2rem;
  }
}

.main {
  height: 100vh;
  padding: 1%;
}

body {
  background-color: #e6e1e173;
}

.profile-section {
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.profile-section img {
  width: 30%;
}

.profile-section h3 {
  margin-top: 1rem;
}

#personalInfoFields {
  margin-top: 1rem;
  padding: 1rem;
}

.form-group {
  display: grid;
  grid-template-columns: auto auto;
  align-items:center;
  text-align: left;
}

.profile-section img {
  border-radius: 50%; /* 50% creates a circle */
  width: 150px;
  height: 150px;
}

