.containerHeader {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
}

.container {
    padding: 1rem;
}

div.junmbotron {
    background-color: gray;
}

