.containerHeader {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
}

.table th {
    background-color: rgb(0, 0, 0);
    color: white;
}

.container {
    padding: 1rem;
}

div.junmbotron {
    background-color: gray;
}

.greenBackground {
    background-color: rgba(21, 178, 230, 0.289) !important;
  }

