@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Lato:wght@100&family=PT+Sans+Caption&family=Varela+Round&display=swap');

.container {
    display: grid;
    grid-template-rows: 30vh 40vh auto;
    grid-template-columns: auto;
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.title {
    padding: 5vw;
    font-size: 20px;
}

.post {
    display: grid;
    grid-template-rows:25% 60% 15%;
    grid-template-columns: repeat(5, 20%);
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.4);
}

#userImage {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    padding: 5vw;
    height: 100%;
    width: 100%;
}

#userImage img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover; 
}

#postImageHere {
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
    height: 100%;
    width: 100%;
    padding: 5vw;
    border-top: 1px solid grey;
}

#postImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#userInfo {
    grid-row: 1 / span 1;
    grid-column: 2 / span 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5vw;
}

#discussion {
    grid-row: 3 / span 1;
    grid-column: 1 / span 5;
    text-align: left;
    padding-left: 5vw;
}

.comment {
    display: grid;
    grid-template-rows: 15% auto auto auto;
    grid-template-columns: repeat(5, 20%);
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.4);
    margin-top: 3vh;
    align-items: center;
}

#commentMessage {
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
    padding: 5vw;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid grey;
}

#commentImage {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    padding: 5vw;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: inherit;
}

#commentImage img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover; 
    background-color: transparent;
}

#commentName {
    grid-row: 2 / span 1;
    grid-column: 2 / span 4;
    padding: 5vw;
}

#commentInput {
    display: block;
    width: 100%;
    outline: none;  
    border: none;
    max-height: 100px;
}

#commentBox {
    display: flex;
    grid-row: 3 / span 1;
    grid-column: 1 / span 5;
    padding: 2vw;
    border: 1px solid black;
}

#commentPost {
    display: flex;
    grid-row: 4 / span 1;
    grid-column: 3 / span 2;
}

#commentPreview {
    background-color: transparent;
    color: red;
    font-family: 'Varela Round', sans-serif;
    border: 2px solid red; /* Maintain the border size */
    border-radius: 8px;
    margin-right: 1vw;
}

#commentPostComment {
    background-color: transparent;
    color: red;
    font-family: 'Varela Round', sans-serif;
    border: 2px solid red; /* Maintain the border size */
    border-radius: 8px;
}